<button class="btn btn-primary" (click)="changeComponent('template-driven')">
  template-driven form
</button>
<button class="btn btn-primary" (click)="changeComponent('reactive')">
  Reactive form
</button>
<button class="btn btn-primary" (click)="changeComponent('custom')">
  Custom input component
</button>

<div [ngSwitch]="component" class="container">
  <app-template-driven *ngSwitchCase="'template-driven'"></app-template-driven>
  <app-reactive *ngSwitchCase="'reactive'"></app-reactive>
  <app-custom-form *ngSwitchCase="'custom'"></app-custom-form>
</div>
