<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <button class="btn btn-primary" routerLink="template-driven">
        template-driven form
      </button>
      <button class="btn btn-primary" routerLink="reactive">
        Reactive form
      </button>
      <button class="btn btn-primary" routerLink="custom-form">
        Custom input component
      </button>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
